/* apps/web/src/components/ui/components/markdown.css */
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
.markdown-code-lang-tag {
    @apply bg-gray-200 dark:bg-gray-700/80 text-gray-700 dark:text-gray-300;
}
.markdown-code-block {
    @apply bg-gray-100 dark:bg-gray-800;
}
.markdown-h1 {
    @apply border-gray-200 dark:border-gray-500 text-gray-900 dark:text-white;
}
.markdown-h2 {
    @apply border-gray-200 dark:border-gray-500 text-gray-900 dark:text-white;
}
.markdown-table {
    @apply border-gray-300 dark:border-gray-500;
}
.markdown-hr {
    @apply bg-gray-300 dark:bg-gray-500;
}
/* 闪烁光标样式 */
.blinking-cursor {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #999;
    margin-left: 4px;
    padding-left: 2px;
    vertical-align: middle;
    position: relative;
    top: -0.05em;
    animation: blink 0.8s infinite alternate;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }
}

pre::-webkit-scrollbar {
    height: 6px;
    /* 更细的横向滚动条 */
}